*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
} 

html {
    height: 100%;
}

body {
    height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 60px;
}

.video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.page__heading:hover::before {
    position: absolute;
    z-index: 1;
    inset-inline-end: 22px;
    inset-block-start: 182px;
    content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
    padding: 36px 44px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 14px #000;
    background-color: #FFFFFF;
    white-space: pre;
    color: #000;
    font-family: 'Raleway-Regular';
    font-size: 35px;
    font-weight: 400;
    line-height:  100%;
    text-transform: none;
    border: #000 2px solid;
    border-radius: 20px;
} 

.page__heading:hover {
    cursor: default;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #FFFFFF50;
    visibility: hidden;
}

.page__heading:hover + .overlay {
    visibility: visible;
}

.page__heading {
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-family: "Raleway-ExtraBold", sans-serif;
    font-size: 116px;
    text-transform: uppercase;
    letter-spacing: 4.06px;
}
